body {
    margin: auto;
    max-width: 45em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: ivory;
}

nav, footer {
    display: inline-block;
    padding: 0 .5em;
    margin: .5em;
    text-align: center;
}

.headerbutton, .footerbutton, .contentbutton {
    text-decoration: none;
    color: #3b444b;
    padding: .3em 1em;
    border-radius: .5em;
    text-align: center;
    border: 1px solid;
}

.contentbutton {
    margin: 10px;
    line-height: 3em;
    background-color: #fbf2c7;
}

.headerbutton, .footerbutton {
    background-color: #ded299;
}

.headerbutton {
    margin: 2em;
}

.headerbutton:hover, .footerbutton:hover, .contentbutton:hover, #basic-button:hover {
    background-color: #c2b886;
}

#basic-button {
    text-decoration: none;
    min-width: 80px;
    color: #3b444b;
    padding: 2px 7px;
    border-radius: .5em;
    text-align: center;
    border: 1px solid;
    margin: 10px;
    line-height: 2em;
    background-color: #fbf2c7;
}

#Header {
    position: absolute;
}

#HeaderText {
    position: absolute;
    z-index: 1;
}

.content {
    background: white;
    padding: 1.5em 2em;
 } 

.google-map {
    max-width: 600px;
    max-height: 400px;
    margin: 10px;
}

.restaurant {
    overflow: hidden;
}

.restaurant-label, .restaurant-location {
    float: left;
    width: 140px;
    padding-right: 24px;
}

.restaurant-location {
    text-align: right;
}

.restaurant-info {
    float: left;
    text-align: right;
    width: 155px;
    padding-right: 24px;
}

#location {
    width: 150px;
}

#extra-info-label {
    width: 200px;
}

#extra-info-text {
    width: 300px;
}

.info, .message, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 12px 10px 12px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('https://i.imgur.com/ilgqWuX.png');
}

.message {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('https://i.imgur.com/Q9BGTuy.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    background-position: 100% 100%;
    background-size: auto;
    background-size: cover;
}

#hideMeAfter3Seconds {
    animation: hideAnimation 0s ease-in 3s;
    animation-fill-mode: forwards;
  }
  
@keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }

@arrowColor: #ffcc00;
@arrow: escape('@{arrowColor}');

select {  
    background-color:#fbf2c7;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: .5em;
    text-align: center;
    border: 1px solid #3b444b;
    color: #3b444b;
    padding: 10px 30px 10px 10px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand { display: none };
}

@-moz-document url-prefix() {
    select {
        color: rgba(0,0,0,0);
        text-shadow: 0 0 0 #3b444b;
    }
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

[data-star] {
    text-align:left;
    font-style:normal;
    display:inline-block;
    position: relative;
    unicode-bidi: bidi-override;
  }
  [data-star]::before { 
    display:block;
    content: '★★★★★';
    color: #b4b2b2;
  }
  [data-star]::after {
    white-space:nowrap;
    position:absolute;
    top:0;
    left:0;
    content: '★★★★★';
    width: 0;
    color: #ff8c00;
    overflow:hidden;
    height:100%;
  }
  
  [data-star^="0.1"]::after,[data-star^=".1"]::after{width:2%}
  [data-star^="0.2"]::after,[data-star^=".2"]::after{width:4%}
  [data-star^="0.3"]::after,[data-star^=".3"]::after{width:6%}
  [data-star^="0.4"]::after,[data-star^=".4"]::after{width:8%}
  [data-star^="0.5"]::after,[data-star^=".5"]::after{width:10%}
  [data-star^="0.6"]::after,[data-star^=".6"]::after{width:12%}
  [data-star^="0.7"]::after,[data-star^=".7"]::after{width:14%}
  [data-star^="0.8"]::after,[data-star^=".8"]::after{width:16%}
  [data-star^="0.9"]::after,[data-star^=".9"]::after{width:18%}
  [data-star^="1"]::after{width:20%}
  [data-star^="1.1"]::after{width:22%}
  [data-star^="1.2"]::after{width:24%}
  [data-star^="1.3"]::after{width:26%}
  [data-star^="1.4"]::after{width:28%}
  [data-star^="1.5"]::after{width:30%}
  [data-star^="1.6"]::after{width:32%}
  [data-star^="1.7"]::after{width:34%}
  [data-star^="1.8"]::after{width:36%}
  [data-star^="1.9"]::after{width:38%}
  [data-star^="2"]::after{width:40%}
  [data-star^="2.1"]::after{width:42%}
  [data-star^="2.2"]::after{width:44%}
  [data-star^="2.3"]::after{width:46%}
  [data-star^="2.4"]::after{width:48%}
  [data-star^="2.5"]::after{width:50%}
  [data-star^="2.6"]::after{width:52%}
  [data-star^="2.7"]::after{width:54%}
  [data-star^="2.8"]::after{width:56%}
  [data-star^="2.9"]::after{width:58%}
  [data-star^="3"]::after{width:60%}
  [data-star^="3.1"]::after{width:62%}
  [data-star^="3.2"]::after{width:64%}
  [data-star^="3.3"]::after{width:66%}
  [data-star^="3.4"]::after{width:68%}
  [data-star^="3.5"]::after{width:70%}
  [data-star^="3.6"]::after{width:72%}
  [data-star^="3.7"]::after{width:74%}
  [data-star^="3.8"]::after{width:76%}
  [data-star^="3.9"]::after{width:78%}
  [data-star^="4"]::after{width:80%}
  [data-star^="4.1"]::after{width:82%}
  [data-star^="4.2"]::after{width:84%}
  [data-star^="4.3"]::after{width:86%}
  [data-star^="4.4"]::after{width:88%}
  [data-star^="4.5"]::after{width:90%}
  [data-star^="4.6"]::after{width:92%}
  [data-star^="4.7"]::after{width:94%}
  [data-star^="4.8"]::after{width:96%}
  [data-star^="4.9"]::after{width:98%}
  [data-star^="5"]::after{width:100%}
  