{% extends "layout.html" %}
{% block content %}

    <h2>Lisää ravintola</h2>

    <form action="/add-restaurant" method="post">
        <label class="restaurant-label">Nimi:</label>
        <input type="text" id="name" name="restaurant_name" title="Pakollinen kenttä">
        <br>
        Sijainti:<br>
        <label class="restaurant-location">Leveyspiiri:</label>
        <input type="text" id="location" name="latitude" placeholder="esim. 60.170897" title="Pakollinen kenttä"><br>
        <label class="restaurant-location">Pituuspiiri:</label>
        <input type="text" id="location" name="longitude" placeholder="esim. 24.941421" title="Pakollinen kenttä">
        <br>
        Ravintolan esittely: <br>
        <textarea name="description" rows="3" cols="40" maxlength="500"></textarea>
        <p>
        <input type="submit" id="basic-button" value="Luo ravintola">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    
    <br>
    <footer>
        <a href="/admin" class="footerbutton">Takaisin ylläpitoon</a>    
        <a href="/restaurants" class="footerbutton">Takaisin pääsivulle</a>
    </footer>

{% endblock %}