{% extends "layout.html" %}
{% block content %}

    <h2>Ylläpitosivu</h2>

    <div>
        <a href="/add-restaurant" class="contentbutton">Lisää ravintola</a>
    </div>
    <div>
        <a href="/manage-restaurants" class="contentbutton">Hallinnoi ravintoloita</a>
    </div>
    <div>
        <a href="/manage-groups" class="contentbutton">Hallinnoi ryhmiä</a>
    </div>
    <div>
        <a href="/manage-users" class="contentbutton">Hallinnoi käyttäjiä</a>
    </div>
    <br>
    <footer>
        <a href="/restaurants" class="footerbutton">Takaisin pääsivulle</a>
    </footer>

{% endblock %}