<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Etsi ravintola</title>

    {% if mymap %}
        {{"decoupled-map"|googlemap_js(37.4419, -122.1419)}} {{mymap.js}}
    {% endif %}

</head>
<h1>Etsi ravintola</h1>
<hr>
{% if session.user_id %}

    Olet kirjautunut sisään nimellä <b>{{ session.user_username }}</b>. <a href="/logout">Kirjaudu ulos</a>

{% endif %}

{% block content %}
{% endblock %}