<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Etsi ravintola</title>

    {% if mymap %}
        {{"decoupled-map"|googlemap_js(37.4419, -122.1419)}} {{mymap.js}}
    {% endif %}

</head>
<div id="wrapperHead">
    <div id="Header">
        <img src="/static/header.jpg">
    </div>
    <div id="HeaderText">
        <h1>Etsi ravintola</h1>
    </div>
</div>
<br><br><br><br>
<hr>
<nav>
    {% if session.user_id %}
        Olet kirjautunut sisään nimellä <b>{{ session.user_username }}</b>. 
        <a href="/logout" class="headerbutton">Kirjaudu ulos</a>
        {% if session.user_role == 0 %}
            <a href="/admin" class="headerbutton">Ylläpito</a>
        {% endif %}
    {% else %}
        Et ole kirjautunut sisään. <a href="/login" class="headerbutton">Kirjaudu sisään</a>
    {% endif %}
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, msg in messages %}
            <p class="{{ category }}" id="hideMeAfter3Seconds">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}