{% extends "layout.html" %}
{% block content %}

    <h2>Kirjaudu sisään</h2>

    <form action="/login" method="post">
        Käyttäjätunnus: <br><input type="text" name="username">
        <p>
        Salasana: <br><input type="password" name="password">
        <p>
        <input type="submit" id="basic-button" value="Kirjaudu">
    </form>

    <p>
        Jos sinulla ei ole käyttäjätunnusta, niin voit luoda uuden käyttäjätunnuksen <a href="/register">tästä</a>
    </p>
    <p>
        Voit hakea ravintoloita myös <a href="/restaurants">kirjautumatta sisään</a>. Silloin et voi arvostella ravintoloita. 
    </p>
    
{% endblock %}