{% extends "layout.html" %}
{% block content %}

    <h2>{{ name }}</h2>

    {% if stars %}
        Tähtiä {{ stars }}
    {% endif %}

    <br>

    {% if description %}
        {{ description }}
    {% endif %}

    <br>

    {% for info in information %}
        <h3>{{ info.key }}</h3>
        {{ info.value }}
    {% endfor %}

    <h3>Arvosteluja</h3>

    {% if comments %}
        {% for comment in comments %}
            <form action="/manage-restaurant/{{ id }}" method="post">
                {{ comment.username }}: {{ comment.stars }} {{ comment.comment }}
                <input type="submit" name="action" value="Poista kommentti">
                <input type="hidden" name="restaurant_id" value="{{ id }}">
                <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form> 
        {% endfor %}
    {% else %}
            Ei arvosteluja
    {% endif %}

    <br>
    <a href="/manage-restaurants">Takaisin hallinnoi ravintoloita</a>
    <a href="/admin">Takaisin ylläpitoon</a>   
    <a href="/restaurants">Takaisin pääsivulle</a>

{% endblock %}