{% extends "layout.html" %}
{% block content %}

    <h2>Hallinnoi ryhmiä</h2>

    <h3>Lisää ryhmä</h3>

    <form action="/manage-groups" method="post">
        Nimi: <br><input type="text" name="group_name">
        <br>
        <input type="submit" name="action" value="Luo ryhmä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <h3>Poista ryhmä näkyvistä</h3>

    <form action="/manage-groups" method="post">
        <select name="select_group" method="post">
            <option value="">-- Valitse ryhmä --</option>
            {% for group in dropdown %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="action" value="Poista ryhmä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <h3>Palauta ryhmä näkyviin</h3>

    <form action="/manage-groups" method="post">
        <select name="select_group" method="post">
            <option value="">-- Valitse ryhmä --</option>
            {% for group in unvisible %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="action" value="Palauta ryhmä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <h3>Valitse ravintolat ryhmään</h3>

    Valitse ryhmä: <br>
    <form action="/manage-groups" method="post">
        <select name="select_group" method="post">
            <option value="">-- Valitse ryhmä --</option>
            {% for group in dropdown %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="action" value="Hae ryhmää">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    {% if found_restaurants %}
        <h3>Ryhmän ravintolat</h3>
        {% for restaurant in found_restaurants %}
            <p>
                <form action="/manage-groups" method="post">
                    {{ restaurant.name }}
                    <input type="submit" name="action" value="Poista ryhmästä">
                    <input type="hidden" name="group_id" value="{{ group_id }}">
                    <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </p>
        {% endfor %}
    {% endif %}

    {% if not_in_group_restaurants %}
        <h3>Ravintolat, jotka eivät ole ryhmässä</h3>
        {% for restaurant in not_in_group_restaurants %}
            <p>
                <form action="/manage-groups" method="post">
                    {{ restaurant.name }}
                    <input type="submit" name="action" value="Lisää ryhmään">
                    <input type="hidden" name="group_id" value="{{ group_id }}">
                    <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </p>
        {% endfor %}
    {% endif %}

    {{ error }} {{ message }}
    
    <br>
    <a href="/admin">Takaisin ylläpitoon</a>   
    <a href="/restaurants">Takaisin pääsivulle</a>

{% endblock %}