{% extends "layout.html" %}
{% block content %}

    <h2>{{ name }}</h2>

    {% if stars %}
        Tähtiä {{ stars }}
    {% endif %}

    <br>

    <h2>Muokkaa ravintolan perustietoja</h2>

    <form action="/manage-restaurant/{{ id }}" method="post">
        Nimi: <br><input type="text" name="restaurant_name" value="{{ name }}">
        <br>
        Sijainti:<br>
        Leveyspiiri: <input type="text" name="latitude" value="{{ latitude }}"> <br>
        Pituuspiiri: <input type="text" name="longitude" value="{{ longitude }}">
        <br>
        Ravintolan esittely: <br>
        <textarea name="description" rows="3" cols="40" maxlength="500">{{ description }}</textarea>
        <p>
        <input type="submit" name="action" id="basic-button" value="Tallenna tiedot">
        <input type="hidden" name="restaurant_id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <h2>Muokkaa ravintolan lisätietoja</h2>

    <h3>Lisää lisätieto</h3>

    <form action="/manage-restaurant/{{ id }}" method="post">
        Lisätiedon otsikko: <input type="text" name="key" maxlength="50"> <br>
        Lisätieto: <input type="text" name="value" maxlength="500"> <br>
        <input type="submit" name="action" id="basic-button" value="Lisää lisätieto">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>

    {% for info in information %}
        <h3>{{ info.key }}</h3>
        <form action="/manage-restaurant/{{ id }}" method="post">
            {{ info.value }}
            <input type="submit" name="action" id="basic-button" value="Poista lisätieto">
            <input type="hidden" name="info_id" value="{{ info.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endfor %}

    <h3>Arvosteluja</h3>

    {% if comments %}
        {% for comment in comments %}
            <form action="/manage-restaurant/{{ id }}" method="post">
                {{ comment.username }}: {{ comment.stars }} {{ comment.comment }}
                <input type="submit" name="action" id="basic-button" value="Poista kommentti">
                <input type="hidden" name="restaurant_id" value="{{ id }}">
                <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form> 
        {% endfor %}
    {% else %}
            Ei arvosteluja
    {% endif %}

    <br>
    <footer>
        <a href="/manage-restaurants" class="footerbutton">Takaisin hallinnoi ravintoloita</a>
        <a href="/admin" class="footerbutton">Takaisin ylläpitoon</a>   
        <a href="/restaurants" class="footerbutton">Takaisin pääsivulle</a>
    </footer>

{% endblock %}