{% extends "layout.html" %}
{% block content %}

    <h2>{{ name }}</h2>

    {% if stars %}
        <font size="+3">
            <i data-star="{{ stars }}"></i>
        </font>
    {% else %}
        Ei arvosteluja
    {% endif %}

    <br>

    <h2>Muokkaa ravintolan perustietoja</h2>

    <form action="/manage-restaurant/{{ id }}" class="restaurant" method="post">
        <label class="restaurant-label">Nimi:</label>
        <input type="text" id="name" name="restaurant-name" value="{{ name }}">
        <br>
        Sijainti:<br>
        <label class="restaurant-location">Leveyspiiri:</label>
        <input type="text" id="location" name="latitude" value="{{ latitude }}"><br>
        <label class="restaurant-location">Pituuspiiri:</label>
        <input type="text" id="location" name="longitude" value="{{ longitude }}">
        <br>
        Ravintolan esittely: <br>
        <textarea name="description" rows="3" cols="40" maxlength="500">{{ description }}</textarea>
        <p>
        <input type="submit" name="action" id="basic-button" value="Tallenna tiedot">
        <input type="hidden" name="restaurant_id" value="{{ id }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <h2>Muokkaa ravintolan lisätietoja</h2>

    <h3>Lisää lisätieto</h3>

    <form action="/manage-restaurant/{{ id }}" method="post">
        <label class="restaurant-info">Lisätiedon otsikko:</label>
        <input type="text" id="extra-info-label" name="key" maxlength="50"><br>
        <label class="restaurant-info">Lisätieto:</label>
        <textarea id="extra-info-text" name="value" rows="3" cols="40" maxlength="500"></textarea><br>
        <input type="submit" name="action" id="basic-button" value="Lisää lisätieto">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    <br>

    {% for info in information %}
        <h3>{{ info.key }}</h3>
        <form action="/manage-restaurant/{{ id }}" method="post">
            {{ info.value }}
            <input type="submit" name="action" id="basic-button" value="Poista lisätieto">
            <input type="hidden" name="info_id" value="{{ info.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endfor %}

    <h3>Arvosteluja</h3>

    {% if comments %}
        {% for comment in comments %}
            <form action="/manage-restaurant/{{ id }}" method="post">
                <input type="submit" name="action" id="basic-button" value="Poista kommentti">
                <input type="hidden" name="restaurant_id" value="{{ id }}">
                <input type="hidden" name="comment_id" value="{{ comment.comment_id }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <i data-star="{{ comment.stars }}"></i>
                {{ comment.username }}: {{ comment.comment }}
            </form> 
        {% endfor %}
    {% else %}
            Ei arvosteluja
    {% endif %}

    <br>
    <footer>
        <a href="/manage-restaurants" class="footerbutton">Takaisin hallinnoi ravintoloita</a>
        <a href="/admin" class="footerbutton">Takaisin ylläpitoon</a>   
        <a href="/restaurants" class="footerbutton">Takaisin pääsivulle</a>
    </footer>

{% endblock %}