{% extends "layout.html" %}
{% block content %}

    <h2>{{ name }}</h2>

    {% if stars %}
        Tähtiä {{ stars }}
    {% endif %}

    <br>

    {% if description %}
        {{ description }}
    {% endif %}

    <br>

    {% for info in information %}
        <h3>{{ info.key }}</h3>
        {{ info.value }}
    {% endfor %}

    {% if comments %}
        <h3>Arvosteluja</h3>

        {% for comment in comments %}
            <p>{{ comment.username }}: {{ comment.stars }} {{ comment.comment }} 
        {% endfor %}
    {% endif %}

    <br>
    {% if session.user_username %}
        <form action="/restaurant/{{ res_id }}" method="post">
            <h3>Anna arvosana:</h3> <br>
            <select name="stars">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
            Kommentti: <br>
            <textarea name="comment" rows="3" cols="40" maxlength="500"></textarea>
            <p>
            <input type="submit" id="basic-button" value="Luo arvostelu">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}

    <footer>
        <a href="/restaurants" class="footerbutton">Palaa takaisin</a>
    </footer>

{% endblock %}