{% extends "layout.html" %}
{% block content %}

    <div class="google-map">
        {% if mymap %}
            {{ mymap.html }}
        {% endif %}
    </div>
    
    <h2>Hae ravintolaa hakusanalla</h2>

    <form action="/restaurants" method="post">
        Haettava teksti: 
        <br>
        <input type="text" name="search_string" minlength="1" maxlength="20">
        <input type="submit" name="action" id="basic-button" value="Hae">
    </form>

    <h2>Hae ravintolaa ryhmästä</h2>

    <form action="/restaurants" method="post">
        <select name="select_group" method="post">
            <option value="">-- Valitse ryhmä --</option>
            {% for group in dropdown %}
                <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" name="action" id="basic-button" value="Hae ryhmää">
    </form>

    {% if found_restaurants %}
        <h2>Löydetyt ravintolat</h2>
        {% for restaurant in found_restaurants %}
            {% if restaurant.avg_stars %}
                <p>{{ restaurant.avg_stars }} <a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></p>
            {% else %}
                <p><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></p>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}