{% extends "layout.html" %}
{% block content %}

    <h2>{{ name }}</h2>

    {% if stars %}
        <font size="+3">
            <i data-star="{{ stars }}"></i>
        </font>
    {% else %}
        Ei arvosteluja
    {% endif %}

    <br><br>

    {% if description %}
        {{ description }}
    {% endif %}

    <br>

    {% for info in information %}
        <h3>{{ info.key }}</h3>
        {{ info.value }}
    {% endfor %}

    {% if comments %}
        <h3>Arvosteluja</h3>

        {% for comment in comments %}
            <i data-star="{{ comment.stars }}"></i>
            {{ comment.username }}: {{ comment.comment }} <p>
        {% endfor %}
    {% endif %}

    {% if session.user_username %}
        <form action="/restaurant/{{ res_id }}" method="post" class="user-comment">
            <h3>Anna arvosana:</h3>
            <div class="rate">
                <input type="radio" id="star5" name="stars" value="5" />
                <label for="star5" title="text">5 tähteä</label>
                <input type="radio" id="star4" name="stars" value="4" />
                <label for="star4" title="text">4 tähteä</label>
                <input type="radio" id="star3" name="stars" value="3" />
                <label for="star3" title="text">3 tähteä</label>
                <input type="radio" id="star2" name="stars" value="2" />
                <label for="star2" title="text">2 tähteä</label>
                <input type="radio" id="star1" name="stars" value="1" />
                <label for="star1" title="text">1 tähti</label>
            </div>
            <div class="comment">
                Kommentti: <br>
                <textarea name="comment" rows="3" cols="40" maxlength="500"></textarea>
                <p>
                <input type="submit" id="basic-button" value="Luo arvostelu">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </div>
        </form>
    {% endif %}

    <footer>
        <a href="/restaurants" class="footerbutton">Palaa takaisin</a>
    </footer>

{% endblock %}